*{
  background-image: url('../img/akan2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  font-family: sans-serif;
  text-align: center;
  opacity: 1.5;
  color: black;
  font-size: 20px;
}
.header{
  align-items: center;
  height: 10vh;
  margin: auto;
  width: 25%;
  font-weight: 400;
  color: #178DFA ;


}
.Gender {
	padding: 0px 0px;
}

.result{
  box-sizing: content-box;
}
.form{
  background: transparent;
  padding-left: 110px;
  text-decoration-color: red;
  font-size: 18px;
  box-sizing:12px 24px;
  padding: 0 0 0 0;
}
.img {
  opacity: 0.1;
}
.Submit{
  background-color: #409D76;
}
